/* 
    Selectores Compuestos:
        Selectores agrupados
        Selectores Combinados 
        Pseudoclases - Pseudoelementos (más adelante)







*/


/* .text{
    background-color: teal;
}

.text-2{
    background-color: teal;

}

.text-3{
    background-color: teal;
} */

/* esa seria una forma pero si repetimos mucho asi es seguro que encuentres una forma que se pueda evitar
repetir tanto ese es un principio aqui donde entran los selectores agrupados cual se tienen el mismo valor
que los demas como en estes caso por lo que:*/

.text,
.text-2,
.text-3{
    background-color: teal;
}